body {
    color: #333;
    background-color: #e0e0e0;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }
#round-pfp {
    border-radius: 50%;
    width: 150px; 
    height: 150px;
    display: block;
    margin: 0 auto 20px;
  }

  h1, h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: black;
  }
  
  p {
    font-size: 16px;
    line-height: 1.6;
    color: darkmagenta;
    margin: 20px;
  }
  
  a {
    text-decoration: none;
    color: darkgoldenrod;
  }
  
  .container {
    width: 90%;
    max-width: 700px;
    margin: 40px auto;
    text-align: center;
  }
  
  .transparent-box {
    background-color:white;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .list-inline {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .list-inline li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .list-inline li:last-child {
    margin-right: 0;
  }
  
  @media (max-width: 768px) {
    .container {
      width: 80%;
    }
  
    h1, h2 {
      font-size: 24px;
    }
  
    p {
      font-size: 14px;
      margin: 15px;
    }
  }
  
  @media (max-width: 500px) {
    .container {
      width: 90%;
    }
  
    h1, h2 {
      font-size: 20px;
    }
  
    p {
      font-size: 12px;
      margin: 10px;
    }
  }
  